main {
    width: 80%;
    margin: 0 auto;
}
.list {
    padding: 0;
    width: 100%;
}

.list:hover .icon {
    display: block;
}
.list:hover .listItemTitle {
    color: black;
}
.listItem {
    display: block;
    width: 100%;
    justify-content: center;
    border-top: 0.1rem solid #8f8f8f;
}

.button {
    border: none;
    background: none;
    width: 100%;
}
.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}
.button:focus .imgMem{
    display: block;
}
.button:focus .listItemTitle {
    color: black;
}

.listItem:hover .imgMem {
    display: block;
}

.headItem{
    display: flex;
    justify-content: space-between;
}

.listItemTitle {
    color: blue;
}
.icon {
    display: none;
    background-color: blueviolet;
    width: 2rem;
    height: 2rem;
}

.imgMem {
    display: none;
    width: 50%;
    margin: 0 auto;
}
.imgMem img {
    width: 100%;
}
